.output {
    border: 1px solid black;
    width: 1000px;
    height: 300px;
    font-size: 21px;
    background-color: #777;
    margin: 200px auto;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;

}